[Unit]
Description=OpenPBS job cgroup owner
Before=pbs-mom.service

[Service]
Type=simple
ExecStart=/usr/bin/sleep infinity
Delegate=yes
DelegateSubgroup=manager


